.h3 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 32px;
  line-height: 39.68px;
  margin-bottom: 64px;
  color: #FFFFFF;
}

p { margin: 0; }

.hero {
  position: relative; 
  background-color: #15151857;
  background: url("../img/vinnytsia-hero-image.png") no-repeat center center;
  background-size: cover;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 212px;
  text-align: center;
  color: #FFFFFF;
  height: 100vh;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.vinnytsia-hero-mobile {
  display: none;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(21, 21, 24, 0.4);
  z-index: 1;
}

.hero-content {
  display: inline-block;
  width: 100%;
  position: relative;
  max-width: 1216px;
  z-index: 2;
}

.hero-content h1 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 56px;
  line-height: 69.44px;
  margin: 0 0 80px;
}

.hero-content p {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 29.27px;
  margin: 0 0 24px;
}

.hero-navigation-text-block {
  position: absolute;
  top: 17%;
  left: 8%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.hero-navigation-text-block a {
  text-decoration: none;
}

.hero-navigation-text-block div {
  height: 18px;
  width: 2px;
  background-color: rgba(122, 184, 255, 1);
}

.hero-navigation-text-block span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: rgba(255, 255, 255, 1);
}

.hero-buttons {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
}

.stopwatch-block {
  display: flex;
  flex-direction: row;
  bottom: 4%;
  position: absolute;
  right: 7%;
  align-items: center;
  z-index: 2;
}

.stopwatch-block-mobile {
  display: none;
}

.stopwatch-block img {
  margin-left: 0px;
  margin-right: 12px;
  height: 32px;
  width: 32px;
}

.stopwatch-block p, .stopwatch-block-mobile p {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 18px;
  line-height: 22.32px;
  margin: 0;
  color: #FFFFFF;
}

/* Urgent buyback section */

.urgent-buyback {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 0px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.urgent-buyback-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.urgent-buyback-content-text-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;
}

.urgent-buyback-content-text-block p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #E3EAF1;
}

.urgent-buyback-connect-block {
  align-items: flex-start;
  min-height: 392px;
}

.urgent-buyback-white-block {
  background-color: #E3EAF1;
  width: 175px;
  height: 71px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  left: 30%;
  bottom: -8%;
  z-index: 1;
}

.urgent-buyback-white-block-mobile { display: none; }

.urgent-buyback-mobile { display: none; }

.urgent-buyback-image-block {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  bottom: 0;
}

.urgent-buyback-image-block img {
  height: 392px;
}

/* How to buyback section */

.how-to-buyback {
  position: relative; 
  background-color: #15151857;
  padding: 220px 0 0;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.how-to-buyback-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.how-to-buyback-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;
}

.how-to-buyback-info p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #E3EAF1;
}

.how-to-buyback-image-steps {
  display: flex;
  flex-direction: row;
  min-height: 538px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 32px;
}

.how-to-buyback-image {
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  height: 538px;
}

.how-to-buyback-image-mobile {
  display: none;
}

.step-card {
  width: 280px;
  height: 225px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 24px;
  position: relative;
  align-items: center;
}

.step-card span {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 18px;
  line-height: 22.32px;
  color: #000000;
  text-align: center;
}

.step-1, .step-3 { background-color: #E3EAF1; }

.step-2, .step-4 { background-color: #7AB8FF; }

.step-image {
  height: 92px;
  width: 207px;
}

.step-1 .step-image {
  width: 150px;
}

.step-2 .step-image {
  height: 97px;
}

.step-3 .step-image {
  height: 94px;
}

/* Best service section */

.best-service {
  position: relative; 
  background-color: #15151857;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 150px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.best-service-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.best-service-info-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}

.best-service-text-block {
  display: flex;
  flex-direction: column;
  border-left-width: 4px;
  border-left-color: #7AB8FF;
  border-left-style: solid;
  padding-left: 24px;
}

.best-service-text-block span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #E3EAF1;
}

.best-service-info-block img {
  height: 430px;
}

.best-service-blue-block {
  position: absolute;
  left: 40%;
  bottom: 0%;
  background-color: #7AB8FF;
  width: 70px;
  height: 65px;
  border-radius: 12px;
}

.best-service-small-block {
  position: absolute;
  left: -5%;
  bottom: -10%;
  background-color: #E3EAF1;
  width: 34px;
  height: 32px;
  border-radius: 8px;
}

.best-service-small-block-mobile {
  display: none;
}


/* Guarantees section */

.guarantees {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 0px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.guarantees-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.guarantees-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.guarantees-info-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.guarantees-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: #BEBEBE solid 2px;
}

.guarantees-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.guarantees-list-item span {
  font-family: Unbounded;
  font-weight: 500;
  font-size: 22px;
  line-height: 27.28px;
  color: #7AB8FF;
}

.guarantees-list-item p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #E3EAF1;
  text-align: left;
}

/* Cities section */

.cities {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 0px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cities-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 1216px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.cities-blue-block {
  position: absolute;
  background-color: #7AB8FF;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  left: 3%;
  bottom: 10%;
}

.cities-small-block {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: #E3EAF1;
  left: 25%;
  bottom: -3%;
  z-index: 1;
}

.cities-info-block {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.cities-text-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
}

.cities-mark {
  height: 40px;
  align-self: flex-start;
}

.cities-info-block p, a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  margin: 0;
}

.cities-info-block a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
  color: rgba(122, 184, 255, 1);
  cursor: pointer;
}

.cities-car {
  height: 300px;
  border-radius: 32px;
}

.car-buyback-mobile {
  display: none;
}

/* Common questions section */

.common-questions {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 0px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.common-questions-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.common-questions-info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.common-questions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.common-questions-list-item {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom-color: #7AB8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.common-questions-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.common-questions-question-container p {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.32px;
  color: rgba(227, 234, 241, 1);
  margin: 0;
}

.common-questions-question-container img {
  width: 40px;
  height: 40px;
  transition: transform 0.5s ease;
}

.common-questions-image {
  display: block;
}

.common-questions-answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.common-questions-answer-container p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: rgba(227, 234, 241, 1);
  margin: 24px 0 0 0;
  max-width: 1115px;
}

/* Reviews section */

.reviews {
  padding: 150px 110px 0 !important;
}

/* Editor group section */

.editor-group {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 0;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.editor-group-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.editor-group-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor {
  padding: 24px 32px 24px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.12);
}

.editor:hover {
  background-color: rgba(0, 0, 0, 0.24);
  box-shadow:
    0 0 68px rgba(0, 0, 0, 0.24),
    0 0 48px rgba(0, 0, 0, 0.24);
}

.editor img {
  border-radius: 50%;
  height: 115px;
}

.editor-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 259px;
}

.editor-info a {
  color: rgba(80, 160, 255, 1);
  font-family: Unbounded;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.32px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
}

.editor-info p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.logo-block {
  width: 70px;
  height: 70px;
  position: relative;
}

.logo-block img {
  position: absolute;
  width: 86px;
  height: 65px;
  right: 5px;
}

/* Buyback info section */

.buyback-info {
  position: relative; 
  background-color: #15151857;
  padding: 150px 110px 110px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buyback-info-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 1216px;
}

.buyback-info-text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buyback-info-text-block span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #E3EAF1;
}

@media (max-width: 1439px) and (min-width: 1280px) {
  .h3 {
    font-size: 28px;
    line-height: 34px;
  }

  /* Hero section */
  .hero-navigation-text-block {
    left: 6%;
  }

  .hero-content h1 {
    font-size: 50px;
    line-height: 65px;
  }

  .hero-content p {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 30px;
  }

  .stopwatch-block {
    bottom: 7%;
    right: 5%;
  }

  .stopwatch-block p {
    margin: 0;
  }

  /* Urgent buyback section */

  .urgent-buyback-content-text-block p {
    font-size: 17px;
    line-height: 23px;
  }
  
  /* How to buyback section */

  .how-to-buyback-info p {
    font-size: 17px;
    line-height: 23px;
  }

  .urgent-buyback-white-block {
    left: 20%;
  }

  /* How to buyback section */

  .how-to-buyback-image-steps {
    min-height: 508px;
  }

  .how-to-buyback-image {
    height: 508px;
  }

  /* Best service section */

  .best-service-text-block span {
    font-size: 17px;
    line-height: 23px;
  }

  .best-service-info-block img {
    height: 385px;
  }

  /* Guarantees section */

  .guarantees-list-item p {
    font-size: 17px;
    line-height: 23px;
  }

  .guarantees-list-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /* Cities section */

  .cities-text-block {
    margin-bottom: 60px;
  }

  .cities-info-block p, a {
    font-size: 17px;
    line-height: 23px;
  }
  
  .cities-info-block {
    max-width: 600px;
  }

  .cities-car {
    height: 270px;
  }

  /* Common questions section */

  .common-questions-answer-container p {
    font-size: 17px;
    line-height: 23px;
  }

  .common-questions-info-block img {
    height: 350px;
  }

  .common-questions-question-container img {
    width: 40px;
    height: 40px;
  }
  
  /* Reviews section */

  .reviews {
    padding: 150px 110px 0 !important;
  }

  /* Buyback info section */

  .buyback-info-text-block span {
    font-size: 17px;
    line-height: 23px;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  /* Hero section */
  .hero {
    padding-left: 92px;
    padding-right: 92px;
  }

  .hero-content h1 {
    font-size: 38px;
    line-height: 50px;
    margin: 0 0 48px;
  }

  .hero-content p {
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 25px;
  }

  .hero-navigation-text-block {
    left: 5%;
  }

  .stopwatch-block {
    bottom: 7%;
    right: 5%;
  }

  .stopwatch-block img {
    height: 24px;
    width: 24px;
  }

  .stopwatch-block p {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }

  /* Urgent buyback section */

  .urgent-buyback {
    padding: 80px 92px 0;
  }

  .urgent-buyback-content-text-block p {
    font-size: 16px;
    line-height: 19px;
  }
  
  /* How to buyback section */

  .urgent-buyback-content-text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;
  }

  .urgent-buyback-connect-block {
    align-items: flex-start;
    min-height: 300px;
  }

  .urgent-buyback-white-block {
    width: 135px;
    height: 51px;
    left: 20%;
  }

  .urgent-buyback-white-block img {
    width: 66px;
    height: 45px;
  }

  .urgent-buyback-image-block img {
    height: 300px;
  }

  /* How to buyback section */

  .how-to-buyback {
    padding: 160px 0 0;
  }
  
  .how-to-buyback-content {
    padding: 0px 92px;
  }

  .how-to-buyback-info {
    gap: 24px;
    margin-bottom: 60px;
  }

  .how-to-buyback-info p {
    font-size: 16px;
    line-height: 19px;
  }

  .how-to-buyback-image-steps {
    min-height: 405px;
    width: 100%;
    gap: 16px;
  }

  .how-to-buyback-image {
    height: 405px;
  }

  .step-card {
    width: 215px;
    height: 190px;
    padding: 16px 8px;
  }
  
  .step-card span {
    font-size: 16px;
    line-height: 21px;
  }

  .step-image {
    height: 62px;
    width: 157px;
  }
  
  .step-1 .step-image {
    width: 110px;
  }
  
  .step-2 .step-image {
    height: 67px;
  }
  
  .step-3 .step-image {
    height: 64px;
  }

  /* Best service section */

  .best-service {
    padding: 80px 92px 0;
  }

  .best-service-text-info {
    max-width: 540px;
  }

  .best-service-text-block span {
    font-size: 16px;
    line-height: 19px;
  }

  .best-service-info-block img {
    height: 280px;
  }

  .best-service-blue-block {
    left: 40%;
    bottom: -10%;
    width: 50px;
    height: 45px;
    border-radius: 6px;
  }
  
  .best-service-small-block {
    position: absolute;
    left: -5%;
    bottom: -15%;
    background-color: #E3EAF1;
    width: 24px;
    height: 22px;
    border-radius: 4px;
  }

  /* Guarantees section */

  .guarantees {
    padding: 80px 92px 0;
  }

  .guarantees-list-item {
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .guarantees-info-block {
    margin-bottom: 40px;
  }

  .guarantees-list-item span {
    font-size: 16px;
    line-height: 22px;
  }
  
  .guarantees-list-item p {
    font-size: 16px;
    line-height: 19px;
  }

  /* Cities section */

  .cities {
    padding: 80px 92px 0;
  }

  .cities-text-block {
    margin-bottom: 40px;
  }

  .cities-info-block p, a {
    font-size: 16px;
    line-height: 19px;
  }
  
  .cities-info-block {
    max-width: 500px;
  }

  .cities-car {
    height: 220px;
  }

  .cities-mark {
    height: 25px;
  }

  /* Common questions section */

  .common-questions {
    padding: 80px 92px 0;
  }

  .common-questions-content .h3 {
    margin-bottom: 8px;
  }

  .common-questions-question-container p {
    font-size: 16px;
    line-height: 19px;
  }

  .common-questions-answer-container p {
    font-size: 16px;
    line-height: 19px;
  }

  .common-questions-question-container img {
    width: 30px;
    height: 30px;
  }

  /* Reviews section */

  .reviews {
    padding: 50px 92px 0 !important;
  }

  /* Editor group section */

  .editor-group {
    padding: 80px 92px 0;
  }

  .editor-info p {
    font-size: 16px;
    line-height: 19px;
  }

  .editor-info {
    margin-left: 15px;
  }

  .editor {
    padding: 12px;
  }

  .editor img {
    height: 75px;
  }

  .logo-block {
    width: 50px;
    height: 50px;
  }

  .logo-block img {
    width: 66px;
    height: 45px;
    right: -5px;
  }

  /* Buyback info section */

  .buyback-info {
    padding: 80px 92px;
  }

  .buyback-info-text-block span {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 32px;
  }

  /* Hero section */

  .hero {
    position: relative; 
    background: none;
    background-color: #15151857;
    padding: 106px 16px 0;
  }

  .hero::before {
    display: none;
  }

  .vinnytsia-hero-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
    left: 0;
  }

  .hero-navigation-text-block {
    position: relative;
    left: unset;
    top: unset;
    justify-content: flex-start;
    margin-bottom: 24px;
  }

  .hero-navigation-text-block span {
    font-size: 12px;
    line-height: 14.63px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-content h1 {
    font-size: 24px;
    line-height: 29.76px;
    margin: 0 0 40px;
  }

  .hero-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    margin: 0 0 24px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
  
  .stopwatch-block {
    display: none;
  }

  .stopwatch-block-mobile {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    right: 0;
  }

  .stopwatch-block-mobile p {
    margin: 0;
  }
  
  .stopwatch-block-mobile img {
    margin-left: 0px;
    margin-right: 12px;
    height: 22px;
    width: 22px;
  }

  /* Urgent buyback section */

  .urgent-buyback {
    position: relative; 
    background-color: #15151857;
    padding: 60px 32px 0px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .urgent-buyback-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-width: 1216px;
  }

  .urgent-buyback-content-text-block {
    margin-bottom: 64px;
  }

  .urgent-buyback-content-text-block p {
    font-size: 16px;
    line-height: 19px;
  }

  .urgent-buyback-connect-block {
    min-height: fit-content;
  }

  .urgent-buyback-image-block {
    display: none;
  }

  .urgent-buyback-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .urgent-buyback-mobile-image-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
  }

  .urgent-buyback-mobile-image-block img{
    height: 280px !important;
  }

  .urgent-buyback-white-block {
    display: none;
  }

  .urgent-buyback-white-block-mobile {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 103px;
    height: 41px;
    border-radius: 16px;
    background-color: #E3EAF1;
    right: 5%;
  }

  .urgent-buyback-white-block-mobile img {
    width: 54px;
    height: 41px;
  }

  /* How to buyback section */

  .how-to-buyback {
    padding: 50px 0 0;
  }

  .how-to-buyback-content {
    padding: 0 32px;
  }

  .how-to-buyback-info {
    gap: 16px;
    margin-bottom: 64px;
  }
  
  .how-to-buyback-info p {
    font-size: 16px;
    line-height: 19.5px;
  }

  .how-to-buyback-image-steps {
    flex-direction: row;
    gap: 16px;
    padding: 200px 16px 0;
    min-height: auto;
    flex-wrap: wrap;
  }

  .how-to-buyback-image {
    display: none;
  }

  .how-to-buyback-image-mobile {
    display: block;
    position: absolute;
    top: 0;
    height: 313px;
    width: 100vw;
    object-fit: cover;
  }

  .step-card {
    width: 48%;
    height: 88px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 16px;
    position: relative;
    align-items: center;
  }
  
  .step-card span {
    font-size: 16px;
    line-height: 19.84px;
  }

  .step-1, .step-3 { flex-direction: row-reverse; }

  .step-image {
    height: 38px;
    width: 80px;
  }
  
  .step-1 .step-image {
    width: 64px;
  }
  
  .step-2 .step-image {
    height: 38px;
  }
  
  .step-3 .step-image {
    height: 38px;
  }

  /* Best service section */

  .best-service {
    padding: 80px 16px 64px;
  }

  .best-service-info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
  }

  .best-service-text-block {
    display: flex;
    flex-direction: column;
    border-left-width: 4px;
    border-left-color: #7AB8FF;
    border-left-style: solid;
    padding-left: 24px;
  }

  .best-service-text-block span {
    font-size: 16px;
    line-height: 19.5px;
  }
  
  .best-service-info-block img {
    display: none;
  }
  
  .best-service-blue-block {
    left: unset;
    right: 2%;
    bottom: -15%;
    background-color: #7AB8FF;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
  
  .best-service-small-block {
    display: none;
  }

  .best-service-small-block-mobile {
    display: flex;
    position: absolute;
    right: 4%;
    bottom: -12%;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: #E3EAF1;
    z-index: 1;
  }

  /* Guarantees section */

  .guarantees {
    padding: 60px 32px;
  }

  .guarantees-info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
  }

  .guarantees-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .guarantees-list-item {
    width: 100%;
    gap: 8px;
    padding: 0;
    border-bottom: none;
  }
  
  .guarantees-list-item span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.32px;
    min-width: 30px;
  }
  
  .guarantees-list-item p {
    font-size: 16px;
    line-height: 19.5px;
  }

  /* Cities section */

  .cities {
    padding: 60px 32px;
  }

  .cities-content {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .cities-text-block {
    margin-bottom: 32px;
  }

  .cities-mark {
    height: 32px;
  }

  .cities-info-block p, a {
    font-size: 16px;
    line-height: 19.5px;
  }

  .cities-car {
    display: none;
  }

  .car-buyback-mobile {
    display: block;
    position: relative;
  }

  .car-buyback-mobile img {
    min-height: 192px;
    width: 100%;
    object-fit: cover;
  }

  .cities-blue-block {
    width: 42px;
    height: 42px;
    border-radius: 8px;
  }

  .cities-small-block {
    bottom: 5%;
    left: 20%;
  }

  /* Common questions section */

  .common-questions {
    padding: 60px 32px 0;
  }

  .common-questions-content .h3 {
    margin-bottom: 16px;
  }

  .common-questions-line {
    width: 103vw;
  }

  .common-questions-info-block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .common-questions-list {
    margin-bottom: 32px;
  }

  .common-questions-list-item {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .common-questions-question-container p {
    font-size: 16px;
    line-height: 19.84px;
  }

  .common-questions-answer-container p {
    font-size: 16px;
    line-height: 19.5px;
    margin: 16px 0 0 0;
  }

  .common-questions-question-container img {
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
  }

  /* Reviews section */

  .reviews {
    padding: 0 32px !important;
  }

  /* Editor group section */

  .editor-group {
    padding: 60px 32px 0px;
  }

  .editor-group-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .editor {
    padding: 16px 12px;
    width: 100%;
    max-width: 350px;
  }

  .editor img {
    border-radius: 50%;
    height: 64px;
  }

  .editor-info {
    margin-left: 16px;
    gap: 12px;
  }

  .editor-info a {
    font-size: 14px;
    line-height: 19.84px;
  }
  
  .editor-info p {
    font-size: 14px;
    line-height: 19.5px;
  }

  .logo-block {
    width: 40px;
    height: 30px;
    position: relative;
  }

  .logo-block img {
    position: absolute;
    width: 40px;
    height: 30px;
    right: -10px;
  }

  /* Buyback info section */

  .buyback-info {
    padding: 60px 32px 0px;
  }

  .buyback-info-text-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .buyback-info-text-block span {
    font-size: 16px;
    line-height: 19.5px;
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: 18px;
    line-height: 22.32px;
    margin-bottom: 32px;
  }

  .hero {
    position: relative; 
    background: none;
    background-color: #15151857;
    padding: 106px 16px 0;
  }

  .hero::before {
    display: none;
  }

  .vinnytsia-hero-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
    left: 0;
  }

  .hero-navigation-text-block {
    position: relative;
    left: unset;
    top: unset;
    justify-content: flex-start;
    margin-bottom: 24px;
  }

  .hero-navigation-text-block span {
    font-size: 12px;
    line-height: 14.63px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-content h1 {
    font-size: 24px;
    line-height: 29.76px;
    margin: 0 0 40px;
  }

  .hero-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    margin: 0 0 24px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
  
  .stopwatch-block {
    display: none;
  }

  .stopwatch-block-mobile {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    right: 0;
  }

  .stopwatch-block-mobile p {
    margin: 0;
  }
  
  .stopwatch-block-mobile img {
    margin-left: 0px;
    margin-right: 12px;
    height: 22px;
    width: 22px;
  }

  /* Urgent buyback section */

  .urgent-buyback {
    position: relative; 
    background-color: #15151857;
    padding: 80px 16px 0px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .urgent-buyback-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-width: 1216px;
  }

  .urgent-buyback-content-text-block {
    margin-bottom: 64px;
  }

  .urgent-buyback-content-text-block p {
    font-size: 16px;
    line-height: 19px;
  }

  .urgent-buyback-connect-block {
    min-height: fit-content;
  }

  .urgent-buyback-image-block {
    display: none;
  }

  .urgent-buyback-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .urgent-buyback-mobile-image-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 64px;
  }

  .urgent-buyback-white-block {
    display: none;
  }

  .urgent-buyback-white-block-mobile {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 103px;
    height: 41px;
    border-radius: 16px;
    background-color: #E3EAF1;
    right: 2%;
  }

  .urgent-buyback-white-block-mobile img {
    width: 54px;
    height: 41px;
  }

  /* How to buyback section */

  .how-to-buyback {
    padding: 10px 0 0;
  }

  .how-to-buyback-content {
    padding: 0 16px;
  }

  .how-to-buyback-info {
    gap: 16px;
    margin-bottom: 64px;
  }
  
  .how-to-buyback-info p {
    font-size: 16px;
    line-height: 19.5px;
  }

  .how-to-buyback-image-steps {
    flex-direction: column;
    gap: 16px;
    padding: 170px 16px 0;
  }

  .how-to-buyback-image {
    display: none;
  }

  .how-to-buyback-image-mobile {
    display: block;
    position: absolute;
    top: 0;
    height: 313px;
    width: 100vw;
    object-fit: cover;
  }

  .step-card {
    width: 100%;
    height: 88px;
    padding: 24px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 16px;
    position: relative;
    align-items: center;
  }
  
  .step-card span {
    font-size: 16px;
    line-height: 19.84px;
  }

  .step-1, .step-3 { flex-direction: row-reverse; }

  .step-image {
    height: 38px;
    width: 80px;
  }
  
  .step-1 .step-image {
    width: 64px;
  }
  
  .step-2 .step-image {
    height: 38px;
  }
  
  .step-3 .step-image {
    height: 38px;
  }

  /* Best service section */

  .best-service {
    padding: 80px 16px 64px;
  }

  .best-service-info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
  }

  .best-service-text-block {
    display: flex;
    flex-direction: column;
    border-left-width: 4px;
    border-left-color: #7AB8FF;
    border-left-style: solid;
    padding-left: 24px;
  }

  .best-service-text-block span {
    font-size: 16px;
    line-height: 19.5px;
  }
  
  .best-service-info-block img {
    display: none;
  }
  
  .best-service-blue-block {
    left: unset;
    right: 2%;
    bottom: -15%;
    background-color: #7AB8FF;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
  
  .best-service-small-block {
    display: none;
  }

  .best-service-small-block-mobile {
    display: flex;
    position: absolute;
    right: 4%;
    bottom: -10%;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: #E3EAF1;
    z-index: 1;
  }

  /* Guarantees section */

  .guarantees {
    padding: 80px 16px 0;
  }

  .guarantees-info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
  }

  .guarantees-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .guarantees-list-item {
    width: 100%;
    gap: 8px;
    padding: 0;
    border-bottom: none;
  }
  
  .guarantees-list-item span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.32px;
    min-width: 30px;
  }
  
  .guarantees-list-item p {
    font-size: 16px;
    line-height: 19.5px;
  }

  /* Cities section */

  .cities {
    padding: 80px 16px;
    padding-bottom: 64px;
  }

  .cities-content {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .cities-text-block {
    margin-bottom: 64px;
  }

  .cities-mark {
    height: 32px;
  }

  .cities-info-block p, a {
    font-size: 16px;
    line-height: 19.5px;
  }

  .cities-car {
    display: none;
  }

  .car-buyback-mobile {
    display: block;
    position: relative;
  }

  .car-buyback-mobile img {
    min-height: 192px;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .cities-blue-block {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    right: 5%;
    left: unset;
    bottom: 5%;
  }

  .cities-small-block {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    bottom: 4%;
    left: 2%;
  }

  /* Common questions section */

  .common-questions {
    padding: 80px 16px 0;
  }

  .common-questions-line {
    width: 103vw;
  }

  .common-questions-info-block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .common-questions-list {
    margin-bottom: 0;
  }

  .common-questions-list-item {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .common-questions-question-container p {
    font-size: 16px;
    line-height: 19.84px;
  }

  .common-questions-answer-container p {
    font-size: 16px;
    line-height: 19.5px;
    margin: 16px 0 0 0;
  }

  .common-questions-question-container img {
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
  }

  /* Reviews section */

  .reviews {
    padding: 80px 16px 0 !important;
  }

  /* Editor group section */

  .editor-group {
    padding: 80px 16px 0;
    color: #FFFFFF;
  }

  .editor-group-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .editor {
    padding: 16px;
    width: 100%;
    max-width: 350px;
  }

  .editor img {
    border-radius: 50%;
    height: 64px;
  }

  .editor-info {
    margin-left: 16px;
    gap: 16px;
  }

  .editor-info a {
    font-size: 16px;
    line-height: 19.84px;
  }
  
  .editor-info p {
    font-size: 16px;
    line-height: 19.5px;
  }

  .logo-block {
    width: 40px;
    height: 30px;
    position: relative;
  }

  .logo-block img {
    position: absolute;
    width: 40px;
    height: 30px;
    right: 0;
  }
  
  /* Buyback info section */

  .buyback-info {
    padding: 80px 16px 64px;
  }

  .buyback-info-text-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .buyback-info-text-block span {
    font-size: 16px;
    line-height: 19.5px;
  }
}