<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-logo-block">
      <div>
        <img src="../img/editor-logo.svg" alt="TopVykup Logo" />
        <span>TOPVykup</span>
      </div>
      <p>Викуп авто по всій Україні</p>
      <div class="mobile-icons">
        <div class="footer-icons">
          <div class="footer-icon-block">
            <img src="../img/viber-icon.svg" alt="Viber icon">
          </div>
          <div class="footer-icon-block">
            <img src="../img/fb-icon.svg" alt="FB icon">
          </div>
          <div class="footer-icon-block">
            <img src="../img/tlg-icon.svg" alt="Telegram icon">
          </div>
          <div class="footer-icon-block">
            <img src="../img/x-icon.svg" alt="X icon">
          </div>
        </div>
      </div>
    </div>

    <div class="footer-mobile-info">
      <div class="footer-info-mobile">
        <div class="h4">Інформація</div>
        <a href="home.html">
          <p>Головна</p>
        </a>
        <a href="blog.html">
          <p>Блог</p>
        </a>
        <a href="about-us.html">
          <p>Про нас</p>
        </a>
        <a href="contacts.html">
          <p>Контакти</p>
        </a>
      </div>
      <div class="footer-contacts-mobile">
        <div class="h4">Контакти</div>
        <div class="footer-call">
          <img src="../img/call.svg" alt="Call icon" class="call-icon">
          <div class="phones">
            <span>(063) 412-39-00</span>
            <span>(067) 232-30-60</span>
          </div>
        </div>
        <div class="footer-call" style="margin-top: 8px;">
          <img src="../img/footer-mail-icon.svg" alt="Mail icon" class="mail-icon">
          <div class="phones">
            <span>info@tropy.vykup@gmail.com</span>
          </div>
        </div>
      </div>
    </div>

    
    <div class="footer-contacts">
      <div class="h4">Контакти</div>
      <div class="footer-call">
        <img src="../img/call.svg" alt="Call icon" class="call-icon">
        <div class="phones">
          <span>(063) 412-39-00</span>
          <span>(067) 232-30-60</span>
        </div>
      </div>
      <div class="footer-call" style="margin-top: 16px;">
        <img src="../img/footer-mail-icon.svg" alt="Mail icon" class="mail-icon">
        <div class="phones">
          <span>info@tropy.vykup@gmail.com</span>
        </div>
      </div>
    </div>

    <div class="footer-info">
      <div class="h4">Інформація</div>
      <a href="home.html">
        <p>Головна</p>
      </a>
      <a href="blog.html">
        <p>Блог</p>
      </a>
      <a href="about-us.html">
        <p>Про нас</p>
      </a>
      <a href="contacts.html">
        <p>Контакти</p>
      </a>
    </div>

    <div class="footer-action-buttons">
      <div class="footer-to-top-button">
        <p>На початок</p>
        <img src="../img/footer-to-top-icon.svg" alt="To Top icon" class="to-top-icon">
      </div>
      <div class="footer-icons">
        <div class="footer-icon-block">
          <img src="../img/viber-icon.svg" alt="Viber icon">
        </div>
        <div class="footer-icon-block">
          <img src="../img/fb-icon.svg" alt="FB icon">
        </div>
        <div class="footer-icon-block">
          <img src="../img/tlg-icon.svg" alt="Telegram icon">
        </div>
        <div class="footer-icon-block">
          <img src="../img/x-icon.svg" alt="X icon">
        </div>
      </div>
    </div>

    <div class="sticky-to-top-button">
      <p>На початок</p>
      <img src="../img/footer-to-top-icon.svg" alt="To Top icon" class="to-top-icon">
    </div>
  </div>
</footer>