<header>
  <div class="header-logo">
    <a href="home.html">
      <img id="logo" src="../img/Logo.svg" alt="TopVykup Logo">
    </a>
  </div>

  <!-- mobile phones block -->
  <div class="header-call-mobile">
    <img src="../img/call.svg" alt="Call icon" class="call-icon">
    <div class="phones">
      <span>(063) 412-39-00</span>
      <span>(067) 232-30-60</span>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href="home.html">Автовикуп після ДТП</a></li>
      <li>
        <a class="cities-arrow-text">
          Міста
          <img src="../img/Arrow down.svg" alt="Arrow down" class="arrow-down">
        </a>
      </li>
      <li><a href="blog.html">Блог</a></li>
      <li><a href="about.html">Про нас</a></li>
      <li><a href="contacts.html">Контакти</a></li>
    </ul>
  </nav>

  <div class="header-mobile">
    <div class="header-lang">
      <img src="../img/globe.svg" alt="Globe icon" class="lang-icon">
      <div class="lang-column">
        <div class="lang-row">
          <span id="lang-ukr" class="lang lang-ukr">УКР</span>
          <img id="arrow-down" src="../img/Arrow down.svg" alt="Arrow down" class="arrow-down">
        </div>
        <div class="lang-extra" style="display: none;">
          <span id="lang-rus" class="lang lang-rus">РОС</span>
        </div>
      </div>
    </div>
    

    <!-- desktop phones block -->
    <div class="header-call">
      <img src="../img/call.svg" alt="Call icon" class="call-icon">
      <div class="phones">
        <span>(063) 412-39-00</span>
        <span>(067) 232-30-60</span>
      </div>
    </div>

    <div id="hamburger-button" class="hamburger-menu">
      <div class="hamburger-menu-line"></div>
      <div class="hamburger-menu-line"></div>
      <div class="hamburger-menu-line"></div>
    </div>
  </div>

</header>

<div id="menu-pop-up" class="menu-pop-up hidden">
  <div class="menu-pop-up-content">
    <span>Київ</span>
    <span>Вінниця</span>
    <span>Дніпропетровськ</span>
    <span>Житомир</span>
    <span>Кривий Ріг</span>
    <span>Львів</span>
    <span>Миколаїв</span>
    <span>Одеса</span>
    <span>Полтава</span>
    <span>Рівне</span>
    <span>Суми</span>
    <span>Харків</span>
    <span>Херсон</span>
    <span>Черкаси</span>
    <span>Чернігів</span>
    <span>Чернівці</span>
    <span>Інші міста</span>
  </div>
</div>

<div class="mobile-menu-pop-up">
  <div class="mobile-menu-header">
    <img
      src="../img/pop-up-back-arrow.svg"
      alt="Back arrow"
      class="pop-up-back-arrow"
    >
    <img
      src="../img/pop-up-close-icon.svg"
      alt="Close icon"
      class="pop-up-close-icon"
    >
  </div>

  <div class="mobile-menu-content">
    <span>Автовикуп після ДТП</span>
    <span class="menu-item" data-target="cities">Міста</span>
    <span>Блог</span>
    <span>Про нас</span>
    <span>Контакти</span>
  </div>

  <div class="mobile-cities-list" style="display: none;">
    <span>Київ</span>
    <span>Вінниця</span>
    <span>Дніпропетровськ</span>
    <span>Житомир</span>
    <span>Кривий Ріг</span>
    <span>Львів</span>
    <span>Миколаїв</span>
    <span>Одеса</span>
    <span>Полтава</span>
    <span>Рівне</span>
    <span>Суми</span>
    <span>Харків</span>
    <span>Херсон</span>
    <span>Черкаси</span>
    <span>Чернігів</span>
    <span>Чернівці</span>
    <span>Інші міста</span>
  </div>
</div>
  